@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#trangchu{
	background-image: url("Image/home.jpg");
	height: 100vh;
	background-position: center;
}
.tieude{
	text-align: center;
	padding-top: 10%;
	font-size: 60px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.mxh{
	color: white;
	padding-left: 20px;
}
.iconfb{
	padding: 0;
}
#mangxahoi{
	text-align: center;
	
}
#movetop{
	position:fixed;
	z-index:99;
	right:30px;
	bottom:30px;
	display: none;
}
#movedown{
	padding-left: 48vw;
}
.fas{
	font-size: 50px;
}
#chuabutton{
	margin-top: 50px;
}
#hinhbentrai{
	float:left;
	width: 30%;
	
}